[2020-02-21 20:57] pshirshov opened #1 "Write binary format version together with each serialized tag"
This may allow us to maintain backward compatibility. It won't be easy - but will be possible.

See `makeParsedLightTypeTagImpl`

[2020-02-29 05:59] gzoller opened #2 "Dotty port feature request: tasty file reader"
I’ve read you may be porting this library to Dotty.  If true, I have a request.  Dotty has two kinds of reflection: static compile-time reflection based on macros/metaprogramming, and inspection based on reading .tasty files.  When you port, could you support both?

Actually (selfishly) I’m really only interested in Tasty inspection as a basis for a reflection library.  My use case is runtime-spec

[2020-03-01 16:32] neko-kai commented on #2
@gzoller
It may be nontrivial to support reading tasty right away, but we're open to pull requests that would add this ability. The current exploration of dotty typetags is happening here - https://github.com/pshirshov/dotty-typetag-research

Note that `LightTypeTag` as implemented here does _not_ contain any information about fields or methods, it supports type comparison with `<:<` and `=:=` and

[2020-03-01 16:36] pshirshov commented on #2
For now we are going to rely purely on compile-time inspection as per that's the easiest (if not only) way to achieve the goal. We have to be able to extract some data from scala typer to reuse it in our "mini-typer" later. It would be orders of magnitude harder to rely purely on tasty data.

[2020-03-02 15:21] gzoller commented on #2
Actually <:< and similar would be very helpful!  Currently in Scala reflection TypeTag, do you know how they achieve this at runtime or just form classfile (wherever they get this info)?  They must have a way of doing this--they don't even have the "extra" stuff a .tasty file has.

[2020-03-02 15:34] neko-kai commented on #2
@gzoller every scala entity has a `@ScalaReflection` annotation that contains the type information. This is used both for type-checking and for RTTI

[2020-03-02 19:26] neko-kai commented on #1
We can just append version number to the method name, e.g. call `LightTypeTag.parseV1(_, _)` in current macro, in next macro call `LightTypeTag.parseV2(_, _)`, while keeping support for `parseV1`. This also allows changing the types & parameters for next version.

[2020-03-02 20:15] gzoller commented on #2
Wow--that doesn't seem like a lot, presuming the compiler generates these annotations.  It seems like it would be a small lift (for Dotty) to have some basic type info in such an annotation making some basic type operations straightforward.

[2020-03-02 20:21] neko-kai commented on #2
@gzoller You can use Scala 2 libs from Dotty, so I assume it has all the necessary type operations – which then transports us back to the original problem, i.e. extracting type information from tasty files and/or compiler/macro APIs. Note, I think you don't have to parse tasty's by hand, there's a `tasty-inspector` lib published with dotty that I think exposes just the necessary compiler APIs for

[2020-03-08 19:02] neko-kai opened #6 "Add MiMa & add tests for binary serialization format compatibility"
Check bincompat via https://github.com/lightbend/migration-manager

Note: MiMa cannot detect changes to binary serialization format in `LightTypeTag.parse` (but it should be able to detect changes to LightTypeTag model that would break serializatoin)

[2020-03-08 19:03] neko-kai commented on #1
@pshirshov
This is done? `parse` currently accepts a version parameter:
[code]

[2020-03-08 19:03] #1 closed

[2020-03-11 19:39] pshirshov opened #9 "Integrate dotty code"
See https://github.com/7mind/dotty-typetag-research/tree/master/dotty-typetag-research

Currently `=:=` works and `<:<` works for many simple cases. Variance and parameterized parents are broken.

[2020-04-10 19:09] felher opened #12 "Unexpected result when summoning a Tag[X with X] (intersection type)"
Hey folks,

I found some unexpected behavior when summoning a `Tag[String with String]`. Unexpected to me, that is. The example seems mostly academic but I stumbled upon it when experimenting with ZIO layers.

[code]
prints `Tag[<refinement>]`. I'd expected that to either be `Tag[{String & String}]` or `Tag[String]`.

I dug around a bit and here's what I could find. The problem seems to originate

[2020-04-12 21:41] pshirshov commented on #12
Hi! Thanks for the report, I'll try to look at it tomorrow.

[2020-04-13 14:02] #12 closed

[2020-04-13 14:03] pshirshov commented on #12
I've fixed the problem another way, which, I think, is more straightforward.

[2020-04-21 17:20] neko-kai opened #14 "cross-publish to scala.js 0.6"
We moved to scala.js 1.0 in 0.12.0-M1 https://github.com/zio/izumi-reflect/releases/tag/v0.12.0-M1
that may have been premature because ZIO is still keeping 0.6; we need to publish for both versions now

[2020-04-21 17:35] #9 closed

[2020-04-22 23:24] neko-kai commented on #14
zio master is now on SJS 1.0, this is no longer necessary

[2020-04-22 23:24] #14 closed

[2020-04-26 01:13] rlespinasse opened #21 "Update github-slug-action version  "
Hi,

This project use the GitHub action [rlespinasse/github-slug-action](https://github.com/rlespinasse/github-slug-action) on the [master](https://github.com/rlespinasse/github-slug-action/tree/master) branch.  

Due to changes into the branches management, the `master` branch is not longer supported and will be removed in few months (_EOL: 2020-10-25_).

  The current latest version is `2.0.0` f

[2020-04-28 16:20] pshirshov opened #22 "Finish Dotty port"
Right now we are blocked by:

- [x] https://github.com/lampepfl/dotty/issues/8520 (variance)
- [x] https://github.com/lampepfl/dotty/issues/8514 (bases classes for applied type constructor)
- [x] https://github.com/lampepfl/dotty/issues/8764 (inability to analyze tree when current context type is inferred)

Things to do:

- [x] Support prefix extraction
- [x] Support variance extraction for all th

[2020-04-29 16:06] #21 closed

[2020-05-10 20:13] neko-kai opened #30 "TagMacro: make HKTag summonable for unapplied type lambdas with type bounds"
The following should work:

[code]

[2020-05-10 20:14] neko-kai opened #31 "TagMacro: resolve parameters inside type bounds & wildcards"
Replace parameters in type bounds `_ >: G <: T`, i.e. the following should substitute `T` with `Int` correctly:

https://scastie.scala-lang.org/O21OwKIRQ0eMdoUqkvo1fQ
[code]

[2020-05-10 20:14] neko-kai commented on #31
Replace parameters in structural types, i.e. the following should work:

[code]

[2020-05-10 20:14] neko-kai opened #32 "TagMacro: resolve parameters inside structural types"
Replace parameters in structural types, i.e. the following should work:

[code]

[2020-05-11 09:45] neko-kai opened #33 "dotty: Update to 0.24.0-RC1"

[2020-05-17 22:32] neko-kai opened #35 "Eliminate `X.this.type`'s from Tag output, use the defining trait as prefix instead"
`this.type`'s are problematic because they are different at each level of inheritance hierarchy, consider:

[code]

Both tags are for type `this.X`, but in `A` it's `A.this.X`, while in `B` it's `B.this.X`, therefore they are two **different** types and are unequal.
While it's *correct* that A.this.X & B.this.X are different types, **inside B** they are both the same type – this distinction in thi

[2020-05-28 22:42] #33 closed

[2020-05-29 13:32] neko-kai opened #38 "Support tuple tags on dotty 0.26.0-RC1"
Getting an exception when trying to access definition tree of Tuple.

[code]

[2020-06-19 13:17] DamianReeves commented on #38
Have you had a chance to look into this? This seems to be blocking the dotty upgrade for ZIO.

[2020-06-19 13:29] pshirshov commented on #38
Not yet, will try to look at that this weekend.

[2020-06-19 14:49] neko-kai commented on #38
@DamianReeves This is an upstream bug without a straightforward way to work around it seems, unless we can find a way to totally omit inspecting trees, which with the current tasty-reflect I think we cannot (/cc @pshirshov).
I've posted a reproduction upstream - https://github.com/lampepfl/dotty/issues/9206

[2020-06-22 17:55] neko-kai opened #47 "TagMacro: resolve deeply nested type parameters in type lambdas"
Example:
https://scastie.scala-lang.org/lonZA0e4QsSCXtbGPiww3w

In
[code]
Should resolve to `X[IO, Y[IO] => ?]`
But resolves to `X[IO, Y[F] => ?]`

The F in `Y[F]` is not found & substituted in TagMacro but should be

[2020-07-03 12:22] #35 closed

[2020-07-30 15:18] neko-kai commented on #38
There's a new dotty release with the fix merged, `0.26.0-RC1`: https://dotty.epfl.ch/blog/2020/07/27/26th-dotty-milestone-release.html
should be able to restart publishing for 0.26+ now

[2020-07-31 17:38] adamgfraser commented on #38
@neko-kai Any change we could get a release with this fix so we could publish for the latest Dotty version when we do the ZIO 1.0 release on Monday?

[2020-07-31 19:02] neko-kai opened #57 "Dotty: run the Scala 2 test suite"
Currently the only test running for Dotty is an [extremely rudimentary small test](https://github.com/zio/izumi-reflect/blob/7e6a49b/izumi-reflect/izumi-reflect/src/test/scala/izumi/reflect/test/CurrentDottySupportExtentTest.scala), we should evolve the dotty implementation and port the Scala 2 test suite to the Scala 3 cross-build.

[2020-07-31 19:31] neko-kai commented on #38
Closed by #56

[2020-07-31 19:31] #38 closed

[2020-07-31 19:31] neko-kai commented on #38
@adamgfraser Seems like it. Please check version `1.0.0-M5` for dotty `0.26.0-RC1`

[2020-07-31 20:16] adamgfraser commented on #38
@neko-kai Great! Will do.

[2020-08-02 08:27] pshirshov commented on #22
See: https://github.com/7mind/dotty-typetag-research/issues/2

[2020-08-02 08:29] pshirshov commented on #22
At the moment we have `baseClasses` but it's not enough to introspect parameterized parents.
But this P/R should fix the issue: lampepfl/dotty#9481

[2020-09-01 15:42] #32 closed

[2020-09-06 12:07] pshirshov commented on #57
Partially done in https://github.com/zio/izumi-reflect/pull/67

[2020-09-06 12:07] pshirshov commented on #22
Base classes support introduced in https://github.com/zio/izumi-reflect/pull/67

[2020-09-06 12:26] pshirshov opened #68 "Type boundaries support on Scala 2"
Blocked by https://github.com/scala/bug/issues/11673
Probably will never be solved.

[2020-09-06 16:47] neko-kai opened #69 "TagMacro: Dotty: support structural types"

[2020-09-06 17:07] neko-kai opened #70 "Re-enable dotty tests when `scalatest_0.27` publishes"
Without scalatest for dotty 0.27, tests are currently disabled
https://search.maven.org/search?q=scalatest_0.27

[2020-09-06 17:55] IndiscriminateCoding opened #71 "false positive in equality test"
[code]

This specific example is somewhat artificial, but I'm not sure if it is **not** possible to hit this issue when using different libraries which use the same package name.

[2020-09-06 21:57] neko-kai commented on #71
Hmm, it's generally not legal in Scala to have multiple types with the same fully-qualified name. You can achieve this inconsistency sometimes by using package objects & incremental compilation (compiler will sometimes not detect collisions in incremental compilation, that it subsequently detects on full rebuild), but you should probably hit compiler errors from this way before you hit errors in i

[2020-09-07 10:00] IndiscriminateCoding commented on #71
Ok, makes sense. I'm closing the issue

[2020-09-07 10:00] #71 closed, assigned to nobody

[2020-09-19 18:51] IndiscriminateCoding opened #76 "[dotty] can't derive a Tag for parametric trait inside an object"
(sorry if it is known issue)
Following example compiles fine on scala2, but fails on dotty:

[code]

[code]

[2020-09-19 19:20] IndiscriminateCoding opened #77 "[dotty] malformed tags for type parameters are being generated instead of causing compile failures"
Following example causes compilation error on scala2 (which is correct), while on dotty it happily infers `Tag[Any]`:

[code]

[2020-09-23 17:41] #70 closed, assigned to nobody

[2020-09-23 17:41] #6 closed

[2020-09-25 17:47] neko-kai opened #82 "Issue in trifunctor-to-bifunctor type lambda application"
Given:
[code]

Result is: (mangled, incorrect tag):

[code]

But should be:

[code]

/cc @pshirshov

[2020-09-25 18:12] neko-kai opened #83 "TagMacro: invalid conversion from `TagK3[F]` to `TagKK[F[Any, ?, ?]]`"
Given:

[code]

Results in `indirectFrom3` returning an invalid, mangled tag:

[code]

while `direct` is correct:

[code]

The difference here is between the `TagKK` generated from `TagK3` in `indirectFrom3` and in direct `TagKK` in `direct`. Their printouts also differ:

[code]

[code]

/cc @pshirshov

[2020-11-09 22:43] nktpro opened #98 "Tag#equals regression since 1.0.0-M8"
Since upgrading to ZIO `1.0.3`, which depends on izumi-reflect `1.0.0-M9`, we've been hitting [`Defect in zio.Has: Could not find ${tag} inside ${self}` exceptions](https://github.com/zio/zio/blob/36905905f44a6e47e7921616e464e0e93ac70afb/core/shared/src/main/scala/zio/Has.scala#L181). We managed to narrow the root cause down to a regression of Tag#equals, which seemed to be introduced since `1.0.0

[2020-11-18 10:29] neko-kai commented on #98
@nktpro
There's a spurious difference in `.refString` of these two tags - some additional bytes at the end in `tag2` that do not seem to impact the result  - even though they are equivalent and have the same hashCode. May be a bug in serialization code, in `makeParsedLightTypeTagImpl`

<img width="866" alt="Screenshot 2020-11-18 at 10 26 44" src="https://user-images.githubusercontent.com/450507/99

[2020-11-19 00:48] neko-kai opened #103 "Dotty: support assembling polymorphic tags (TagMacro)"
referred in https://github.com/zio/zio/issues/3816

There's a fairly involved piece of logic, `TagMacro`, in izumi-reflect that takes care of combining available `: Tag` evidences into types at runtime, by recursively doing implicit lookups for type parameters encountered in the type structure.

This `TagMacro` simply does not exist for the dotty version, so until it's added the tag evidences will

[2020-11-20 00:11] neko-kai commented on #98
@nktpro
I think I won't have the time to debug this for a couple of weeks, if you or another contributor are interested in digging into this, `makeParsedLightTypeTagImpl` and/or `LightTypeTagRef`'s boopickle codecs will be the best place to start debugging as per above. There's something corrupting the output string and it may be caused by boopickle's ByteBuffer reuse logic.

[2020-11-21 23:02] neko-kai commented on #77
The logic that should filter out "weak" components of a type and try to resolve them (or fail trying) is not yet implemented for Scala 3: https://github.com/zio/izumi-reflect/issues/103, that would fix the issue

[2020-12-19 21:18] pjfanning opened #116 "accessing classes based on LightTypeTags"
I'm looking at replacing the use of Manifests because Scala3 doesn't support them. I tried out LightTypeTags but could only find string representations of the class for the type and the type args. It's quite possible that I missed the API that supports this because I see class support in the code base.

I used this code in a test and the LightTypeTag repr and typeArgs look good but my use case req

[2020-12-19 22:32] neko-kai commented on #116
@pjfanning
You can get the class from `Tag[T].closestClass` e.g.

[code]

[2020-12-19 22:32] #116 closed, assigned to nobody

[2021-01-25 03:56] adamgfraser opened #122 "Issue Deriving Tags On Scala 3?"
This example from the ZIO documentation does not compile on Scala 3 on ZIO 1.0.4. I know there are still some issues with adding support for more advanced functionality on Scala 3 but I thought these kind of monomorphic tags could be automatically derived. Apologies if I am missing something obvious here.

[code]

[2021-01-27 12:48] neko-kai commented on #122
@adamgfraser
I could not reproduce this in scastie, it compiles and fails on the `???`'s when the Scala 3 version of zio is added: https://scastie.scala-lang.org/BlFOvoEeR168aazX28EF0g

BUT, it did reproduce initially in scastie when I added zio library through scastie's own interface, instead of manually: https://scastie.scala-lang.org/hKv1EL7pR2qAdLVqbNhrxA - for some reason scastie adds zio usi

[2021-01-27 14:28] adamgfraser commented on #122
@neko-kai Ah, that must have been what I had done. Good thing to watch out for. Thank you and sorry for the false alarm!

[2021-01-27 14:28] #122 closed, assigned to nobody

[2021-01-30 16:28] gaeljw commented on #116
Hi,

I'm having pretty much the same requirement: moving away from `TypeTag`s as Scala 3 doesn't have them anymore, and found this library that could be helpful but stuck with how to get a `Class` from a `LightTypeTag` (or maybe a `Tag` ?).

@neko-kai your example with String gives me a `Class[Object]` rather than a `Class[String]`, is this expected? :thinking:

[2021-01-30 16:37] neko-kai commented on #116
@gaeljw Huh, no, it's class[String] in Scala 2 - https://scastie.scala-lang.org/XwHHTuZ3Tb6hH01Zyg0jXw ; but indeed it's Object in Scala 3 - https://scastie.scala-lang.org/DpMffdqUR2CBDF47VvqRcw.

I guess this line is responsible – https://github.com/zio/izumi-reflect/blob/develop/izumi-reflect/izumi-reflect/src/main/scala_3/izumi/reflect/Tags.scala#L131 – I wonder if changing `classOf[Any]` to `c

[2021-01-30 18:13] pjfanning commented on #116
@gaeljw if you just need the class, ClassTags might work - they still seem to work in Scala 3. ClassTags have less information than Manifests (no longer supported in Scala3). At some stage, I will probably try out izumi-reflect but haven't had time to do a full implementation based on izumi-reflect yet.

https://github.com/FasterXML/jackson-module-scala/blob/master/src/main/scala/com/fasterxml/jac

[2021-01-30 18:28] gaeljw commented on #116
@pjfanning unfortunately I need the type parameters, this was the only reason to use `TypeTag` over `ClassTag` in my case.
FYI, I thought I could get them using Scala3 macros but stuck with a similar problem: I've got a String representation that I'm not able to convert to a `Class` instance reliably. (https://github.com/lampepfl/dotty/issues/10933)

[2021-02-02 13:55] neko-kai commented on #116
Basically, for izumi-reflect, the outer `Tag` contains the closest approximate class, but LightTypeTags themselves do not contain classes inside their tree, meaning that when you have a `Tag[X[A, B]]` instance, you can find the class of `X`, but not classes of `A` & `B`. So for now, a use case of getting the classes for parameters is not covered.

@gaeljw

Instead of using the string representatio

[2021-02-02 14:00] neko-kai opened #133 "TagMacro: Dotty: return correct `closestClass` in Tags"
Reported in https://github.com/zio/izumi-reflect/issues/116#issuecomment-770239702

Dotty version currently always uses `classOf[Any]` as the `closestClass` instead of finding the LUB of a type as the Scala 2 version does.

[2021-02-02 14:45] gaeljw commented on #116
@neko-kai Indeed, sound like a good idea. I'll try this and let you know! Thanks :)

[2021-02-04 08:22] adamgfraser opened #135 "Potential Issue Deriving Tags on Scala 3"
This works:

[code]

However, if I remove the return type of `getDgClient` like so:

[code]

Then I get the following error message:

[code]

Seems like that should work given that I am explicitly supplying the type parameter to `accessM`.

[2021-02-04 09:54] neko-kai commented on #135
@adamgfraser
Upstream issue - https://github.com/lampepfl/dotty/issues/8764
Fix enroute: https://github.com/lampepfl/dotty/pull/9984/

[2021-02-04 09:55] adamgfraser commented on #135
@neko-kai Nice!

[2021-02-04 12:36] neko-kai commented on #133
Note that it's not enought to splice `classOf[T]`, we should mirror behavior of `closestClass` for Scala 2:

[code]

That is, the complexity is essentially in finding analogue of `c.universe.lub` function in the new tasty-reflect API and extracting the LUB for intersection type and using the default behavior of `classOf` for all other cases.

[2021-02-14 16:17] gaeljw commented on #116
For anyone interested, I've solved my initial use case using a macro that gives me a `ClassTag[_]` rather than a `Class[_]`.
You can see the code on the following project: https://github.com/gaeljw/typetrees/blob/main/src/main/scala/io/github/gaeljw/typetrees/TypeTreeTagMacros.scala#L8

[2021-02-24 11:59] lvitaly opened #139 "Publish artefact for Scala 3.0.0-RC1"
Related to https://github.com/zio/zio/issues/4732
Resolved by #141

[2021-02-26 10:50] bishabosha commented on #22
does closing lampepfl/dotty#8764 solve the problem described?

[2021-03-06 05:39] neko-kai commented on #22
@bishabosha
It appears so, at least the example from #135 starts passing after update to RC1 where blackbox macros were added.

[2021-03-06 05:49] #135 closed, assigned to nobody

[2021-03-06 05:49] #139 closed, assigned to nobody

[2021-03-08 13:48] domdorn commented on #22
I'm sorry to ask, but is izumi-reflect already working with 3.0.0-RC1 ? if so, could you please publish a version, so that zio-core can upgrade? I'm in the unfortunate situation where my json lib needs RC1 to do its macros but zio is still at M3 and I cant mix two scala3 versions in one project.

[2021-03-08 14:20] sideeffffect commented on #22
@domdorn we're working on it https://github.com/zio/zio/pull/4770 :wink:

[2021-03-30 13:07] adamgfraser opened #150 "Publish For Scala 3.0.0-RC2"
Could we get a new release for Scala 3.0.0-RC2 when you get the chance? Thank you! 🙏

[2021-03-31 00:43] sideeffffect commented on #150
blocked on https://github.com/scalatest/scalatest/issues/1987

[2021-04-04 02:06] tellnobody1 commented on #150
scalatest 3.2.7 has been published for RC2.

[2021-04-04 09:35] #150 closed, assigned to nobody

[2021-04-09 21:47] #98 closed, assigned to nobody

[2021-04-09 21:52] neko-kai commented on #98
This had nothing to do with ByteBuffer reuse, I was simply not aware that boopickle did output deduplication based on object _references_ for case classes, which would naturally cause unstable output for equal but not the same values. This is disabled now, only Strings are deduplicated, this should have minimal impact on length of Tags since they seldomly shared object references within the graph

[2021-04-17 11:59] adamgfraser opened #159 "Publish for Scala 3 on Scala.js"
Would it be possible to get a release for Scala 3 on Scala.js?

[2021-04-21 14:05] adamgfraser opened #160 "Release For Scala 3.0.0-RC3"
Could we get a release for Scala 3.0.0-RC3?

[2021-04-22 13:45] sideeffffect commented on #160
blocked on https://github.com/scalatest/scalatest/issues/2006

[2021-04-22 13:55] adamgfraser commented on #160
Seems like this was done per comments on the linked issue?

[2021-04-22 14:53] #160 closed, assigned to nobody

[2021-05-14 09:43] #159 closed, assigned to neko-kai

[2021-06-07 09:49] neko-kai opened #189 "TagMacro: Spurious tag inequality when parameterizing type alias of intersection"
See https://github.com/7mind/izumi/issues/1523#issuecomment-855781286

[2021-06-07 09:50] neko-kai opened #190 "Parameterization failure when parameter is inside intersection type inside a type constructor"
See https://github.com/7mind/izumi/issues/1523

[2021-06-08 19:30] pshirshov commented on #22
Actually I think we may close this. We've achieved original goals and while there are some hiccups, the port itself if functional.

[2021-06-08 19:30] #22 closed

[2021-06-19 20:19] pshemass opened #192 "Tag for variable type behave inconsistent"
I tried to use local variable type to distinct two variables with the same type in `ZIO` environment but it seems that even for the same variable `Tag` is different when we access variable in different way.

[code]

is this expected?

[2021-07-18 15:03] sideeffffect opened #196 "Is izumi-reflect supposed to run on Java 8?"
When I try to CI my project when running on Java 8, Missinglink gives me the following error:
[code]
https://github.com/Idealiste-cz/ideal-voting-backend/pull/101/checks?check_run_id=3097704499#step:6:43

Is izumi-reflect supposed to run on Java 8 in the first place? I can't see Java 8 be a part of izumi-reflect's CI anywhere.

[2021-07-22 13:09] hardvain commented on #76
I am also having a similar issue. I am creating a scalajs project with dotty and zio. I am trying to create a simple layer as mentioned in https://zio.dev/docs/datatypes/contextual/#module-pattern-10 but the compilation fails with the following error:
[code]

In my build.sbt, I am trying to cross compile zio dependency like
[code]
The compiler error seems to go away when I do not cross compile. At

[2021-07-22 14:46] sideeffffect commented on #196
@neko-kai sorry to be a bother, but is this an error that I should pay attention to, or is it actually not an error and I can safely ignore it?

[2021-07-22 14:55] neko-kai commented on #196
@sideeffffect Unless the message is a false positive, it's an error; I'll address this is in a few hours.

[2021-07-22 19:58] #196 closed, assigned to nobody

[2021-07-22 20:06] neko-kai commented on #196
@sideeffffect Actually the message was a false positive, but only because the method in question was never used. I just deleted all parts of boopickle that weren't directly used, so this fix should also decrease jar size.

I've just released https://github.com/zio/izumi-reflect/releases/tag/v1.1.3-RC2 which you may update to in lieu of adding an exception in your build, IFF you want to.

It's supp

[2021-07-23 13:49] sideeffffect commented on #196
Nice! Thanks Kai :+1:

ZIO doesn't run Missinglink analysis. ZIO doesn't have many dependencies, so it's probably not worth it. Otherwise, any Scala (or even Java) application should employ Missinglink to eliminate preventable runtime failures :wink:

[2021-08-15 15:55] pshirshov opened #202 "TagMacro: Tag can be incorrectly obtained for a type projection from a type parameter"
https://github.com/7mind/izumi/issues/1529

Incorrect behaviour is reproduced in `progression test: we may accidentally materialize tags for transient type vals (no longer possible in dotty)`

[2021-08-15 16:08] pshirshov commented on #192
Well, in my case the following test passes:

[code]

it prints

[code]

This looks like a bug or implementation limitation. `java.lang` is clearly a wrong prefix for `bar`. And obviously it comes from String. I'm not sure yet if it's fixable and how easy it is to fix.

I've added a progression test for now.

[2021-08-15 16:56] pshirshov commented on #192
Surprisingly, I've found a fix:

[code]

in `def unpackPrefix(pre: Type): Option[AppliedReference]`

[2021-08-15 17:00] pshirshov commented on #192
Actually this is a very strange expression: `tpef.typeSymbol.owner.asType.toType`. I have no idea why did I write this, it looks like it makes little sense in this context O_o

[2021-08-15 17:11] pshirshov commented on #192
Well, actually it wasn't me. That was a workaround for some behaviour specified in `"consider class member's this-prefix to be the defining template, not the most specific prefix from where the call is happening (deliberate omission of this for better ergonomics in cakes)"`. That behaviour somehow contradicts to PDT machinery of Scala but makes tags more convenient. We'll think how to fix both the

[2021-08-15 17:32] pshirshov commented on #192
Well, now both the cases are fixed. I've found a couple more cornercases and added some progression tests though this particular issue is fixed.

[2021-08-15 17:32] #192 closed, assigned to nobody

[2021-08-16 13:54] pshemass commented on #192
@pshirshov when do you think this will be released ?

[2021-08-16 18:44] neko-kai commented on #192
@pshemass @pshirshov Released under version 2.0.0 https://github.com/zio/izumi-reflect/releases/tag/v2.0.0

[2021-08-30 15:55] adamgfraser opened #208 "Incorrect Tag[Map[K, A]] Derived From Tag[K] and Tag[A] on Scala 3"
Ran into this issue when working on zio/zio#5481 with methods like this

[code]

On Scala 3 the `tag` is `Tag[Map[=_$K|<Nothing..Any>,+_$A|<Nothing..Any>]]` rather than the expected `Tag[Map[=String,+Int]]`. This works correctly on Scala 2.

I know there is an ongoing effort to build out functionality for Scala 3 so not sure how that fits into that. Thanks again for all your work on this!

[2021-10-15 01:57] adamgfraser opened #224 "Runtime Error Summoning Tag For VarArg Value Class"
Minimized from zio/zio#5736.

[code]

[2021-10-18 06:19] leszekgruchala opened #225 "java.lang.Error: Defect in zio.Has on scala 3 if a trait is parametrized"
I have migrated my project from Scala 2.13.6 to 3.0.2 and it compiles using ZIO 1.0.12, but I have a zio-test spec that is failing on runtime with
[code]
The trait is defined as `trait RedisStream[S <: StreamInstance]` and I have a manually written mock for it using
`object NotificationsRedisStreamMock extends Mock[Has[RedisStream[StreamInstance.Notifications]]]`

With Scala 2.13.6 everything is r

[2021-10-26 07:21] leszekgruchala commented on #225
Possible already fixed by https://github.com/zio/izumi-reflect/pull/198

Also related to https://github.com/zio/zio/issues/5530

[2021-11-01 21:05] leszekgruchala commented on #225
I was able to overcome this problem thanks to this comment https://github.com/zio/zio/issues/4809#issuecomment-846545180

[2021-11-04 20:12] #224 closed, assigned to nobody

[2021-11-14 18:33] kitlangton commented on #103
I tried reimplementing a very simple version of Tag that does this. [It worked by calling `Expr.summon` when encountering a type parameter](https://github.com/zio/zio/pull/6026/files#diff-360ce69b033b20851302c098d93b21e15424ce9c0080c1d8a43be47260848619R75). I'm guessing, due to the complexity of this fully-powered tag, `Expr.summon` won't work here. It looks like this implementation pickles/unpick

[2021-11-14 19:02] neko-kai commented on #103
@kitlangton

Expr.summon (or a lower-level tasty-reflect equivalent) should probably work here. There's no pickling/unpickling happening -  most of the time that's impossible to do since the content of the tag will only be known at runtime - instead calls to `Tag.appliedTag(ctorTag, List(argTags...))` are generated to assemble the tags from evidence at runtime.[[1]](https://github.com/zio/zio/pull

[2021-11-14 19:11] pshirshov commented on #103
Oh, it's not fully-powered. It's just a _very minimal_ mock of the Scala typer. Actually, the only dirty/hard to comprehend part there is the Scala 2 type information extractor, the rest, including dotty extractor and runtime logic should be easy to read and mostly trivial.

I'm not sure what's the purpose of that. In the end your implementation would be roughly the same as ours. I believe it woul

[2021-11-14 19:25] kitlangton commented on #103
Oh yeah. Definitely going to add the missing parts to `Izumi-refect`. It was mostly an exercise to explore if we needed the subtyping information at all—besides `zio-mock`, we don't really. However, we will in the future and, as you mention, so much of the work has been done. Nonetheless, it was a fun exercise 😄.

That's great news. I'll give it a shot then.

[2021-11-16 20:25] pshirshov commented on #103
Fixed in https://github.com/zio/izumi-reflect/pull/239

[2021-11-16 20:25] #103 closed, assigned to neko-kai

[2021-11-16 20:25] pshirshov commented on #77
Should be fixed now.

[2021-11-16 20:25] #77 closed, assigned to pshirshov

[2021-11-21 19:19] kitlangton commented on #225
I believe this is now fixed due to #239

[2021-11-22 10:35] leszekgruchala commented on #225
Closing then!

[2021-11-22 10:35] #225 closed, assigned to nobody

[2021-12-02 09:46] neko-kai commented on #208
Fixed in https://github.com/zio/izumi-reflect/pull/239

[2021-12-02 09:46] #208 closed, assigned to neko-kai

[2021-12-16 19:04] neko-kai commented on #57
Mostly done in https://github.com/zio/izumi-reflect/pull/244

[2021-12-16 19:04] #57 closed

[2022-04-25 11:20] ak0rz opened #284 "LightTypeTag behaviour doesn't follow compiler subtyping rules in case of literal and/or identifier types"
Related to zio/zio#6711

scala 2.13 ([scastie](https://scastie.scala-lang.org/RXFOqT2xSx24Fx2VeKF9yw))

[code]

output

[code]

[2022-05-08 14:59] lolgab opened #287 "Release izumi-reflect for Scala Native - Scala 3"
Support for Scala Native - Scala 3 was merged (https://github.com/zio/izumi-reflect/pull/267) but not released.
Can we have a release to unlock ZIO on Scala Native + Scala 3 ?

[2022-05-24 21:20] ajaychandran opened #289 "Add "Automatic-Module-Name" for release artifacts"
Please consider adding "Automatic-Module-Name" to the manifest file of released JAR files. This would allow users on Java 9 (and Maven) to use the library.

This can be achieved by adding the following SBT setting:
[code]

A more detailed description of the issue is available [here](https://github.com/makingthematrix/scala-suffix).

[2022-05-25 07:47] ajaychandran commented on #289
For reference, the `scala3-library` jar has this entry:
[code]

[2022-05-30 20:07] #289 closed, assigned to nobody

[2022-06-01 09:35] c-solo opened #292 "Path-dependent type get handled as type lambda"
Here is simple test for reproducing:
[code]
[code]
Not sure about importance of this case, but maybe you guys should be aware of this.

Scala 2.13, Java 17.0.3, izumi-reflect_2.13-1.1.3

[2022-06-02 10:24] sideeffffect commented on #287
Hi @neko-kai , I see that you have recently opened https://github.com/zio/izumi-reflect/pull/291 . After that gets merged, can we have a new release of izumi-reflect?

[2022-06-06 22:31] neko-kai commented on #287
@sideeffffect Will do. Sorry for the delays.

[2022-06-18 00:29] pshirshov commented on #292
Thanks for reporting. That definitely looks strange.

[2022-06-20 10:10] pshirshov commented on #292
I'm not sure how exactly you managed to get such stack.

For me your code works as expected, the tags are not equal but that's a limitation which is hard to overcome. But there is nothing similar to your trace:

[code]

Could you provide a full repro please?

[2022-06-24 21:13] sideeffffect commented on #287
:pleading_face:

[2022-06-27 18:23] neko-kai commented on #287
`2.1.1` is released for Scala Native + Scala 3. I couldn't find the time for a proper fix to #291, so this release is largely the same as `2.1.0`

[2022-06-27 18:23] #287 closed, assigned to nobody

[2022-06-27 18:25] neko-kai commented on #292
This might be occuring only on an old version of `izumi-reflect`. The current version is `2.1.1`

[2022-06-27 19:03] sideeffffect commented on #287
Thank you so much! :heart:

[2022-06-28 00:36] #292 closed, assigned to nobody

[2022-06-30 00:04] sideeffffect opened #293 "izumi-reflect 2.1.1 doesn't compile with ZIO 2 on Scala 3"
https://github.com/zio/zio/pull/7022

It fails with errors like
[code]
https://github.com/zio/zio/runs/7122541979?check_suite_focus=true#step%3A8%3A82=

[2022-06-30 15:53] #293 closed, assigned to nobody

[2022-06-30 17:07] sideeffffect opened #295 "izumi-reflect 2.1.2 doesn't compile with ZIO 2 on Scala 3"
https://github.com/zio/zio/pull/7022

It fails with errors like
[code]
https://github.com/zio/zio/runs/7135703566?check_suite_focus=true#step%3A8%3A82=

Related ticket: https://github.com/zio/izumi-reflect/issues/293

[2022-06-30 19:15] #295 closed, assigned to nobody

[2022-06-30 19:32] sideeffffect commented on #295
Please let me know once a new version if published :pray:

[2022-06-30 20:07] neko-kai commented on #295
@sideeffffect `2.1.3` is published

[2022-06-30 20:29] sideeffffect commented on #295
Thank you so much!

[2022-07-14 10:22] johnduffell opened #307 "scala's Symbol.tree causing compile errors, it is not reliable and not recommended to use"
I originally raised this against zio core, but since further investigation in search of a workaround I realised it's a bug in this specific module, so closing [that original issue](https://github.com/zio/zio/issues/7072) in favour of this.

## Summary

Hello, we have been using ZIO and having trouble with compile errors on our project.  I have narrowed it down to the smallest project I can which r

[2022-07-18 18:18] jdegoes opened #309 "newtypes not supported"
e.g. ZIO Prelude newtypes

[2022-07-30 22:15] pshirshov commented on #307
Thanks for reporting, though I don't think we can get rid of `.tree`.
I'll investigate eventually, but probably the only thing we can do is to improve the error message.

[2022-07-30 22:18] pshirshov commented on #309
Yeah, currently Scala 3 support is limited to Scala 2 feature subset. We'll get there... eventually, any help would be appreciated, I think this shouldn't be hard to implement, at least for the trivial cases.

[2022-07-30 22:24] pshirshov commented on #309
In fact it looks like once we have PDTs working this should work too.

[2022-07-31 13:56] neko-kai commented on #309
@jdegoes
Is this on Scala 2 or Scala 3? Newtypes definitely work in Scala 2 test suite. The errors in linked ticket https://github.com/zio/zio-logging/issues/451 come from @kitlangton's intersection filtering macro - not from izumi-reflect. We need a repro for the issue

[2022-08-01 09:52] johnduffell commented on #307
Thanks Paul, that makes sense - in that case my recommendation would be to add this instruction to the setup docs:
`scalacOptions += "-Yretain-trees"`
Then that would stop people hitting this bug.

[2022-08-01 14:46] pshirshov commented on #307
Seems like `.termRef` may work as a substitute for `.tree`, though it's marked as `@experimental`, so I cannot practically use it.

[2022-08-01 17:22] pshirshov commented on #307
Ok, I've removed some calls to `.tree` and your example now compiles.

I'm still unable to get rid of `.tree` completely, because there is still no way to access `TypeDef#rhs` and `DefDef#returnTpt`. Also I had to use java reflection in order to work around that stupid `@experimental` stuff.

[2022-08-01 17:35] pshirshov commented on #309
[code]

Runs successfully on Scala 3 and produces

[code]

[2022-08-01 17:35] #309 closed, assigned to pshirshov

[2022-08-01 18:56] pshirshov commented on #284
So, this is fixed for 2.13, still broken on Dotty though.

[2022-08-01 19:29] pshirshov commented on #284
Okay, I fixed this for dotty, the fix may be imperfect but it works.

[2022-08-01 19:29] #284 closed, assigned to pshirshov

[2022-08-01 19:37] pshirshov commented on #68
Fixed/magically works again.

[2022-08-01 19:37] #68 closed, assigned to pshirshov

[2022-08-01 21:22] #307 closed, assigned to pshirshov

[2022-08-02 10:03] #2 closed

[2022-08-02 15:25] #76 closed, assigned to nobody

[2022-08-02 15:53] neko-kai commented on #76
This seems to have been fixed at some point.

[2022-08-02 22:43] pshirshov commented on #82
https://github.com/zio/izumi-reflect/blob/develop/izumi-reflect/izumi-reflect/src/test/scala-2/izumi/reflect/test/LightTypeTagProgressionTest.scala#L29

[2022-08-02 22:43] pshirshov commented on #83
https://github.com/zio/izumi-reflect/blob/develop/izumi-reflect/izumi-reflect/src/test/scala-2/izumi/reflect/test/LightTypeTagProgressionTest.scala#L43

[2022-08-02 23:06] pshirshov commented on #189
https://github.com/zio/izumi-reflect/blob/develop/izumi-reflect/izumi-reflect/src/test/scala/izumi/reflect/test/SharedTagProgressionTest.scala#L27

[2022-08-02 23:08] pshirshov commented on #190
Duplicate of #189

[2022-08-02 23:08] #190 closed, assigned to neko-kai

[2022-08-03 15:24] #82 closed, assigned to neko-kai

[2022-08-03 15:25] pshirshov commented on #83
Fixed in a2225377a45a3ff298dcddbfa3f7bd070dde9342

[2022-08-03 15:25] #83 closed, assigned to neko-kai

[2022-08-03 15:34] pshirshov opened #315 "Broken lambda comparison"
The following check fails:

[code]

Generated tags are:

[code]

Seems like lambda comparison is broken, probably this can be fixed by some changes in comparison logic, though this may require us to change our approach on how we identify lambda parameters and introduce additional identifying fields.

[2022-08-03 16:24] #315 closed, assigned to pshirshov

[2022-08-26 15:45] pshirshov opened #319 "Unsupported `CachedThisType`"
The following snippet fails on dotty:

[code]

[2022-08-26 16:00] #319 closed, assigned to pshirshov

[2022-08-26 23:52] neko-kai opened #321 "Dotty: lambda parameters should be numbered"
As in Scala 2. Currently names of ParamRefs are used incorrectly, instead of the numbering scheme.

`λ %T → scala.collection.immutable.List[+T]`
should be
`λ %0 → scala.collection.immutable.List[+0]`

[2022-08-30 08:01] erdeszt opened #322 "Issue with dependent types in the environment"
I've originally opened [this issue in the zio repository](https://github.com/zio/zio/issues/7229) but I've been asked to open it here as well.

I expected this code with a dependent type (`job.Impl`) to work but it causes a runtime error:

[code]

Scastie: https://scastie.scala-lang.org/h8axSmfTQW2rQzIlRGwwjA

Types are inferred correctly because if I remove the provideSomeLayer part I get a compi

[2022-08-30 08:39] adamgfraser commented on #322
It would be good if this could be minimized to not use ZIO.

[2022-08-30 08:46] erdeszt commented on #322
@adamgfraser The issue happens in the `ZIO.service` call, that's why I opened the issue in the zio repo originally. I have no clue how to reproduce this without zio.

[2022-08-30 08:50] adamgfraser commented on #322
@erdeszt The issue occurs because we are attempting to look up a tag for `job::Impl|<Nothing..JobImpl>` but we only have a tag for `TestJobImpl`. This issue is occurring in ZIO but ZIO is just constructing tags using the existing tag machinery. So it should be reproducible without ZIO. But no worries if you aren't able to minimize further.

[2022-08-31 13:28] neko-kai commented on #322
@erdeszt

This is not a workaround, it's the correct way to solve this. Note that in `job.Impl` where `job: Job`, the `Impl` type is an unknown type that is `<: JobImpl` (which is what we're trying to find the Tag for). It's not `TestJobImpl`, while we know `TestJobImpl` exists, we can't know that `type Impl = TestJobImpl` for every single instance of `Job`. We could call register with a new type

[2022-08-31 13:28] #322 closed, assigned to nobody

[2022-08-31 14:20] erdeszt commented on #322
@neko-kai thanks for the explanation. I've tried the second version that you suggested and it worked as well but I'll stick with my original "workaround"(especially if that's the recommended way of doing it) because it's a bit simpler.

[2022-08-31 15:52] adamgfraser commented on #322
@neko-kai Thank you! 🙏

[2022-10-16 17:09] #133 closed, assigned to neko-kai

[2022-11-16 17:01] pshirshov opened #340 "Docs required"
We need to better document the internals of the library, the design decisions we made and trade-offs and limitations we had to deal with.

This should allow potential contributors to quicker get onto the board.

[2022-11-22 17:27] pshirshov opened #345 "Get rid of degenerate lambdas in full inheritance database"
[code]